@font-face {
  font-family: "iconfont"; /* Project id 2763968 */
  src: url('iconfont.woff2?t=1630326060713') format('woff2'),
       url('iconfont.woff?t=1630326060713') format('woff'),
       url('iconfont.ttf?t=1630326060713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanxinbutie:before {
  content: "\e629";
}

.icon-F:before {
  content: "\e61f";
}

.icon-huafei:before {
  content: "\e601";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-i_dianhuaka-14:before {
  content: "\e69b";
}

.icon-time:before {
  content: "\e62b";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e608";
}

.icon-7:before {
  content: "\e638";
}

.icon-youjiantou:before {
  content: "\e619";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-liwu:before {
  content: "\e622";
}

.icon-weibo:before {
  content: "\e64c";
}

.icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-:before {
  content: "\e639";
}

.icon-weizhi:before {
  content: "\e61b";
}

.icon-Controls-06:before {
  content: "\e7dd";
}

.icon-xiazai1:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e63e";
}

.icon-kefu:before {
  content: "\e606";
}

.icon-shang:before {
  content: "\e62e";
}

.icon-gongju:before {
  content: "\e607";
}

.icon-yonghu:before {
  content: "\e65b";
}

